@import url('https://fonts.googleapis.com/css?family=Italiana:700');

body::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
    background-color: #d3ba56;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 0;
    font-family: "roboto";
    user-select: none;
    background-image: url('../Images/texture.png');
}

/* ===========================
   DISPLAY
=========================== */

.Display {
    margin-top: 10vh;
    grid-row: 1;
}

.Header {
    position: absolute;
    top: 1.85vh;
    left: 50%;
    transform: translateX(-50%);
    width: 93.75vw;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.TopBar {
    background-color: #566E3D;
    height: 6.94vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "italiana";
    border-top-left-radius: 1.11vw;
    border-top-right-radius: 1.11vw;
}

.BottomBar {
    background-color: #566E3D;
    margin-top: 0.93vh;
    height: 9.26vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.13vw;
    box-shadow: 0 0.37vh 0.56vh rgba(0,0,0,0.3);
    border-bottom-left-radius: 1.11vw;
    border-bottom-right-radius: 1.11vw;
}

.Logo {
    position: absolute;
    left: 2.08vw;
    font-size: 3.75vw;
    color: #F07A22;
    font-family: "Just Me Again Down Here";
}

.SiteTitle {
    font-size: 2.71vw;
    color: #B9A44C;
}

.SiteTitle a {
    color: inherit;
    text-decoration: none;
    transition: 0.3s ease;
}

.BottomBar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.56vw;
    padding: 0.93vh 2.60vw;
    font-family: italiana;
    transition: 0.3s ease;
    position: relative;
}

.BottomBar a:hover {
    color: rgb(202, 182, 154);
}

.BottomBar a:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -1.56vw;
    top: 0.46vh;
    height: 4.63vh;
    width: 0.10vw;
    background-color: #E9DFA4;
}

/* ===========================
   CONTENT
=========================== */

.Content h {
    padding-top: 50px;
    color: #0C4767;
    font-size: 64px;
    margin: 0;
    margin-left: 5vw;
}

.Content p {
    margin-left: 5vw;
    color: #0C4767;
    font-size: 30px;
}


/* ===========================
   BOOKING BOXES
=========================== */

.BookingBoxArea {
    width: 80%;
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}

.BookingBox {
    width: 48%;
    background: #ffffff;
    border-radius: 20px;
    border: 4px solid black;
    padding: 1.5vw;
    text-align: center;
    color: #0C4767;
}

.BookingImage {
    width: 100%;
    height: 22vw;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin-bottom: 1vw;
}

/* Optional sample images */
.ticket-img {
    background-image: url('../Images/transparent.png');
}

.accommodation-img {
    background-image: url('../Images/transparent.png');
}

.BookingBottomRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
}

.BookingLabel {
    font-size: 1.5vw;
    font-family: italiana;
    color: #0C4767;
}

.GoButton {
    padding: 0.6vw 1.8vw;
    background: #566E3D;
    border-radius: 12px;
    color: white;
    font-size: 1.2vw;
    text-decoration: none;
    transition: 0.3s ease;
}

.GoButton:hover {
    background: rgb(202, 182, 154);
    color: #0C4767;
}


/* ===========================
   FOOTER
=========================== */

.Footer {
    margin-top: 8vh;
    grid-row: 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}

.FooterImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%; 
    z-index: 1;
}

.FooterContent {
    position: relative;
    z-index: 2; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.39vh;
    padding: 1.85vh;
}

.FooterLogo {
    font-family: "Just Me Again Down Here", cursive;
    font-size: 2.50vw;
    color: #F07A22;
}

.FooterInfo p {
    margin: 0.46vh 0;
    font-size: 1.67vw;
}

.FooterInfo a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.FooterInfo a:hover {
    color: #A9C97F;
}
