@import url('https://fonts.googleapis.com/css?family=Italiana:700');

body::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
    background-color: #d3ba56;
    height: 100%;
    display: grid;
    grid-template-rows: 25vh 30vh 40vh;
    gap: 0;
    font-family: "roboto";
    user-select: none;
    background-image: url('../Images/texture.png');
}

/* 
#############################################################################################################################################
Display
#############################################################################################################################################
*/
.Display {
    grid-row: 1;
}

.Header {
    position: absolute;
    top: 1.85vh;
    left: 50%;                  
    transform: translateX(-50%); 
    width: 93.75vw;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.TopBar {
    background-color: #566E3D;
    height: 6.94vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: "italiana";
    border-top-left-radius: 1.11vw;
    border-top-right-radius: 1.11vw;
}

.BottomBar {
    background-color: #566E3D;
    margin-top: 0.93vh;
    height: 9.26vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.13vw;
    box-shadow: 0 0.37vh 0.56vh rgba(0,0,0,0.3);
    border-bottom-left-radius: 1.11vw;
    border-bottom-right-radius: 1.11vw;
}

.Logo {
    position: absolute;
    left: 2.08vw;
    font-size: 3.75vw;
    color: #F07A22;
    font-family: "Just Me Again Down Here";
}

.SiteTitle {
    font-size: 2.71vw;
    color: #B9A44C;
}

.SiteTitle a {
    color: #B9A44C;
    text-decoration: none;
    transition: all 0.3s ease;
}

.SiteTitle a:hover {
    color: #8d7c39;
    transform: scale(1.05);
}

.BottomBar a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.56vw;
    padding: 0.93vh 2.60vw;
    font-family: "italiana";
    position: relative;
    transition: all 0.3s ease;
}

.BottomBar a:hover {
    color: antiquewhite;
    transform: scale(1.05);
}

.BottomBar a:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -1.56vw;
    top: 0.46vh;
    height: 4.63vh;
    width: 0.10vw;
    background-color: #E9DFA4;
}

/* 
#############################################################################################################################################
CONTENT
#############################################################################################################################################
*/

.Content {
    grid-row: 2;
}

.Content p {
    color: #0C4767;
    font-size: 24px;
    margin: 0;
    margin-left: 4vw;
}

.Content h {
    color: #0C4767;
    font-size: 48px;
    margin: 0;
    margin-left: 4vw;
}


.AnimalInfoBox {
    margin-left: 4vw;
    margin-top: 30px;
    padding: 20px;
    background: #fff7d4;
    border: 2px solid #0C4767;
    border-radius: 15px;
    width: 45vw;
}

.AnimalInfoBox h2 {
    color: #0C4767;
    margin: 0;
    font-size: 40px;
}

.AnimalImage {
    width: 35vw;
    margin-top: 15px;
    border-radius: 10px;
    border: 3px solid #0C4767;
}


/* 
#############################################################################################################################################
Search bar
#############################################################################################################################################
*/

.SearchContainer {
    display: flex;
    justify-content: left;
    margin-left: 4vw;
    margin-top: 20px;
    align-items: top;
    gap: 10px;
}

.SearchContainer input {
    width: 30vw;
    height: 5vh;
    padding: 0 15px;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid #0C4767;
    outline: none;
    background-color: #f9f2d0;
    color: #0C4767;
}

.SearchContainer button {
    height: 5vh;
    width: 5vh;
    border: none;
    border-radius: 10px;
    background-color: #566E3D;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s ease;
}

.SearchContainer button:hover {
    background-color: #6f8a4e;
}

.SearchContainer button img {
    width: 60%;
    height: 60%;
}

/* 
#############################################################################################################################################
FOOTER
#############################################################################################################################################
*/

.Footer {
    grid-row: 4;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}

.FooterImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%; 
    z-index: 1;
}

.FooterContent {
    position: relative;
    z-index: 2; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.39vh;
    padding: 1.85vh;
}

.FooterLogo {
    font-family: "Just Me Again Down Here", cursive;
    font-size: 2.50vw;
    color: #F07A22;
}

.FooterInfo p {
    margin: 0.46vh 0;
    font-size: 1.67vw;
}

.FooterInfo a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.FooterInfo a:hover {
    color: #A9C97F;
}
