@import url('https://fonts.googleapis.com/css?family=Italiana:700');

body::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: montserrat, sans-serif;
    background-color: #d3ba56;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 0;
    font-family: "roboto";
    user-select: none;
    background-image: url('../Images/texture.png');
}

/* 
#############################################################################################################################################
Display
#############################################################################################################################################
*/
.Display {
    margin-top: 25vh;
    grid-row: 1;
}

.Header {
    position: absolute;
    top: 1.85vh;
    left: 50%;                  
    transform: translateX(-50%); 
    width: 93.75vw;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.TopBar {
    background-color: #566E3D;
    height: 6.94vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: "italiana";
    border-top-left-radius: 1.11vw;
    border-top-right-radius: 1.11vw;
}

.BottomBar {
    background-color: #566E3D;
    margin-top: 0.93vh;
    height: 9.26vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.13vw;
    box-shadow: 0 0.37vh 0.56vh rgba(0,0,0,0.3);
    border-bottom-left-radius: 1.11vw;
    border-bottom-right-radius: 1.11vw;
}

.Logo {
    position: absolute;
    left: 2.08vw;
    font-size: 3.75vw;
    color: #F07A22;
    font-family: "Just Me Again Down Here";
}

.SiteTitle {
    font-size: 2.71vw;
    color: #B9A44C;
}

.SiteTitle a {
    color: #B9A44C;
    text-decoration: none;
    transition: all 0.3s ease;
}

.SiteTitle a:hover {
    color: #8d7c39;
    transform: scale(1.05);
}

.BottomBar a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 1.56vw;
    padding: 0.93vh 2.60vw;
    font-family: "italiana";
    position: relative;
    transition: all 0.3s ease;
}

.BottomBar a:hover {
    color: antiquewhite;
    transform: scale(1.05);
}

.BottomBar a:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -1.56vw;
    top: 0.46vh;
    height: 4.63vh;
    width: 0.10vw;
    background-color: #E9DFA4;
}



/* CONTENT */
.Content {
    margin-top: 5vh;
    grid-row: 2;
    padding: 0 5vw;
}

.Content h {
    padding-top: 50px;
    color: #0C4767;
    font-size: 64px;
    margin-left: 5vw;
}

.Content p {
    margin-left: 5vw;
    color: #0C4767;
    font-size: 30px;
}
/* 
#############################################################################################################################################
FOOTER
#############################################################################################################################################
*/

.Footer {
    margin-top: 5vh;
    grid-row: 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}

.FooterImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%; 
    z-index: 1;
}

.FooterContent {
    position: relative;
    z-index: 2; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.39vh;
    padding: 1.85vh;
}

.FooterLogo {
    font-family: "Just Me Again Down Here", cursive;
    font-size: 2.50vw;
    color: #F07A22;
}

.FooterInfo p {
    margin: 0.46vh 0;
    font-size: 1.67vw;
}

.FooterInfo a {
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

.FooterInfo a:hover {
    color: #A9C97F;
}

/* Dashboard / Selection controls used by select_ticket and select_accomodation */
.Dashboard {
    margin: 3vh 5vw;
    background: rgba(255,255,255,0.9);
    border-radius: 0.8vw;
    box-shadow: 0 0.37vh 0.56vh rgba(0,0,0,0.15);
    padding: 1.85vh;
    display: grid;
    grid-template-columns: 1fr 320px;
    gap: 1.85vh;
    align-items: start;
}

.Dashboard-left {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.Dashboard .BoardTitle {
    font-size: 1.6vw;
    color: #0C4767;
    margin: 0 0 0.8vh 0;
}

.TicketTable, .AccommodationTable {
    width: 100%;
    border-collapse: collapse;
}

.TicketTable thead th, .AccommodationTable thead th {
    text-align: left;
    padding: 0.8vh 1vw;
    color: #0C4767;
    font-weight: 700;
}

.TicketTable tbody td, .AccommodationTable tbody td {
    padding: 0.9vh 1vw;
    vertical-align: middle;
}

.type-col { width: 60%; }
.price-col { width: 25%; }
.qty-col { width: 15%; text-align: right; }

.dashboard-select, .dashboard-input {
    font-family: "roboto";
    padding: 0.6vh 0.8vw;
    border-radius: 0.4vw;
    border: 1px solid rgba(12,71,103,0.12);
    background: #fff;
    font-size: 1rem;
}

.dashboard-select { min-width: 5rem; }

.Dashboard .continue-row {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.2vh;
}

.continue-btn {
    background: #566E3D;
    color: #fff;
    padding: 0.8vh 2.2vw;
    border-radius: 0.6vw;
    border: none;
    font-size: 1.1vw;
    cursor: pointer;
}

.PricingPanel {
    background: linear-gradient(180deg, rgba(86,110,61,0.06), rgba(86,110,61,0.02));
    border-radius: 0.6vw;
    padding: 1.2vh 1.2vw;
    color: #0C4767;
    font-size: 1rem;
}

.PricingPanel h4 {
    margin: 0 0 0.6vh 0;
    color: #566E3D;
}

.PricingPanel p { margin: 0.35vh 0; }

@media (max-width: 900px) {
    .Dashboard { grid-template-columns: 1fr; }
    .price-col, .qty-col { display: table-cell; }
}
